<!DOCTYPE html>
<html>
<head>
  <title>Plug</title>
  <%= stylesheet_link_tag    "plug/application", media: "all" %>
  <%= javascript_include_tag "plug/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
