.plugs {
  margin-top: 2rem;

  @include element('content') {
    background: $white;
    border: 1px solid $gallery;
    
    @include element('item') {
      padding: .5rem;
      border-bottom: 1px solid $gallery;

      &:last-of-type {
        border-bottom: none;
      }
    }
  }
}