%head
  %meta{charset: 'utf-8'}/
  %meta{content: 'width=device-width, initial-scale=1.0', name: 'viewport'}/
  %title Plug

  = stylesheet_link_tag     'plug/application', media: 'all'
  = javascript_include_tag  'plug/application'
  = favicon_link_tag        'plug/favicon.png'
  = csrf_meta_tags

  %script{ defer: '', src: 'https://use.fontawesome.com/releases/v5.13.0/js/all.js' }
