$white:         #ffffff;
$studio:        #3F46AD;
$pale-sky:      #637381;
$alabaster:     #f7f7f7;
$gallery:       #ebebeb;
$tall-poppy:    #c0392b;
$lipstick:      #c70376;
$jungle-green:  #27ae60;
